[Unit]
Description = Apache Superset Webserver Daemon
After = network.target

[Service]
PIDFile = /superset_app/superset_one/superset-webserver.PIDFile
Environment=SUPERSET_HOME=/superset_app/superset_one
Environment=PYTHONPATH=/superset_app/superset_one
WorkingDirectory = /superset_app/superset_one
limit-re>
ExecStart = /superset_app/superset_one/run_superset.sh
ExecStop = /bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target
